.randomColors{
    /* color:#fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex!important;
    flex-direction: row;
    gap: 10px;
}