body{
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h2{
  text-align: center;
}
/* Star rating */
.star{
  cursor: pointer;
}
.star-rating{
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-active{
  color: #ece140;
}
.star-inactive{
  color: #000;
}
/* .slider-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.slider-container{
  max-width: 600px;
  position: relative;
  height: 600px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.api-img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.current-image{
  border-radius: 0.5rem;
  
}
.arrow{
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fff;
  cursor: pointer;
}
.arrow-left{
  left: 1rem;
}
.arrow-right{
  right: 1rem;
}
.circle-indicators{
  display: flex;
  position: absolute;
  bottom: 5rem;
}

.circle-indicator{
  height: 15px;
  width: 15px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 0.1em;
}
.inactive-circle-indicator{
background-color: #ccc;
}
 .hide-current-image{
  display: none;
}
.inactive-circle-indicator{

}