body{
  overflow-x: hidden;
  font-family: 'Inconsolata', monospace!important;
   
}
h2{
  text-align: center;
}
navbar{
  min-height: 10vh;
}
section{
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Star rating */
.star{
  cursor: pointer;
}
.star-rating{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.star-active{
  color: #ece140;
}
.star-inactive{
  color: #000;
}
/* .slider-wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.slider-container{
  max-width: 600px;
  position: relative;
  height: 600px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.api-img{
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.current-image{
  border-radius: 0.5rem;
  
}
.arrow{
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: #fff;
  cursor: pointer;
}
.arrow-left{
  left: 1rem;
}
.arrow-right{
  right: 1rem;
}
.circle-indicators{
  display: flex;
  position: absolute;
  bottom: 5rem;
}

.circle-indicator{
  height: 15px;
  width: 15px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 0.1em;
}
.inactive-circle-indicator{
background-color: #ccc;
}
 .hide-current-image{
  display: none;
}

.products-wrapper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 2em;
  padding: 30px 18px;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 20px;
  border: 1px solid gray;

}
.img-product{
  width: 350px;
  height: auto;
  object-fit: cover;
  border: 2px solid #fff;
}
.menuItems{
  display: flex;
  gap: .5em;
}